<button mat-raised-button (click)="confirmLeavingPage()">Go back to the homepage</button>
<h3>
  You just need to copy the link below and share it to those who want to see the map veto in real time. 
  <label>Share to captains first before sharing to other !</label>
</h3>
<div fxLayout="row">
  <input fxFlex="90" type="text" readonly #copypasta [value]="link" />
  <button mat-raised-button [class.btn-success]="hasbeencopied" type="button" [ngxClipboard]="copypasta" (cbOnSuccess)="hasbeencopied = true">Copy</button>
</div>

<div fxLayout="row">
  <div class="team" fxFlex="20">
    <span>
      <label>{{ api.current_lobby.nameTeamA }}</label>
      <ng-container [ngSwitch]="canJoinAsCaptain('A')">
        <button *ngSwitchCase="'nocaptain'" color="primary" mat-raised-button (click)="joinAsCaptain('A')">Join as captain</button>
        <button *ngSwitchCase="'yourthecaptain'" color="accent" mat-raised-button>You're the captain of the team</button>
        <button *ngSwitchCase="'slottaken'" disabled mat-raised-button>Captain slot already taken</button>
      </ng-container>
    </span>
  </div>
  <div class="preview" fxFlex="60">
    <div *ngFor="let action of api.current_lobby.actions; let i = index;" [ngClass]="{ 'past': action.map.name !== '', 'picked': action.action === 'PICK', 'banned': action.action === 'BAN', 'random': action.action === 'RANDOM'}">
      <label class="title">
        <span *ngIf="action.map.name !== ''">
          <label>{{ action.map.name }}</label>
          <img [src]="'/assets/' + action.map.name + '.png'" />
        </span>
        {{ action.action === 'RANDOM' ? 'Server PICK' : i%2 === 0 ? 'Team 1 ' + action.action : 'Team 2 ' + action.action }}
      </label>
      <button mat-raised-button (click)="chooseMap(action)" color="primary" *ngIf="myturn(action, i)">Choose Map</button>
    </div>
  </div>
  <div class="team" fxFlex>
    <span>
      <label>{{ api.current_lobby.nameTeamB }}</label>
      <ng-container [ngSwitch]="canJoinAsCaptain('B')">
        <button *ngSwitchCase="'nocaptain'" color="primary" mat-raised-button (click)="joinAsCaptain('B')">Join as captain</button>
        <button *ngSwitchCase="'yourthecaptain'" color="accent" mat-raised-button>You're the captain of the team</button>
        <button *ngSwitchCase="'slottaken'" disabled mat-raised-button>Captain slot already taken</button>
      </ng-container>
    </span>
  </div>
</div>
<div *ngIf="finished()">
  <h4>The chosen maps are</h4>
  <div class="mapList">
    <div *ngFor="let map of chosenMaps()">
      <img [src]="'/assets/' + map.name + '.png'" />
      <label>{{ map.name }}</label>
    </div>
  </div>
</div>