h3 {
    font-weight: normal;
}

h3 label {
    font-weight: bolder;
}

.team {
    text-align: center;
}

.team label {
    display: block;
    margin: 20px auto;
}

.team span {
    padding: 20px;
    display: block;
}

.preview {
    padding: 20px;
}

.preview button {
    float: right;
    display: block;
    margin-top: 6px;
}

.past {
    opacity: 0.5;
}

.title span {
    float: right;
    display: block;
    max-height: 50px;
}

.title span label {
    display: block;
    padding-right: 10px;
    float: left;
}

.title span img {
    max-height: 40px;
    display: inline-block;
    padding-top: 5px;
}