.share {
    background: url(/assets/repeat.png);
    padding: 25px;
    margin: 15px 0;
    border-radius: 3px;
}

.share .link {
    text-align: center
}

.share .link input {
    display: inline-block;
    height: 30px;
    width: 50%;
}

h3 {
    text-align: center;
    font-weight: normal;
    margin: 0 0 20px 0;
}

h3 label {
    color: rgb(255, 0, 0);
    font-size: 0.90em;
}

.team {
    text-align: center;
    width: 20%;
}

.teamA {
    float: left;
}

.teamB {
    float: right;
}

hr {
    border: 0;
    margin: 0;
    padding: 0;
    clear: both;
}

.team label {
    display: block;
    margin: 20px auto;
}

.team span {
    padding: 20px;
    display: block;
}

.preview {
    width: 59%;
    margin: auto;
}

.preview button {
    float: right;
    display: block;
    margin-top: 6px;
}

.past {
    opacity: 0.5;
}

.title span {
    float: right;
    display: block;
    max-height: 50px;
}

.title span label {
    display: block;
    padding-right: 10px;
    float: left;
}

.title span img {
    max-height: 40px;
    display: inline-block;
    padding-top: 5px;
}

h4{
    display: block;
    width: 100%;
    text-align: center;
}

.mapList div {
    margin: 15px;
    text-align: center;
}

.mapList div img {
    display: block;
    max-height: 150px;
    margin: auto;
}

.mapList div label {
    display: block
}

@media screen and (max-width: 850px) {
    h3{
        font-size: 0.90em;
    }
}

@media screen and (max-width: 800px) {
    .teamA, .teamB, .preview, .backbutton{
        float: none;
        display: block;
        width: 100%;
    }
}
