#container, footer, header {
    max-width: 1280px;
    margin: auto;
    background: url('/assets/repeat.png') repeat;
    padding: 20px;
    border-radius: 3px;
}

header {
    background: url(/assets/logo.png) 10px center no-repeat, url(/assets/pogchamp.png) bottom right no-repeat;
    background-color: #272e6f;
    margin-bottom: 10px;
    text-align: center;
    position: relative
}

header h1, header h2{
    color: #FFF;
    font-weight: 400;
}

header img {
    position: absolute;
    top: 0;
    right: 0;
    max-height: 184px;
}

footer{
    margin-top: 10px;
}