/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";

@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');

body {
    font-family: 'Roboto', sans-serif;
    background: url("/assets/background.jpg") center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFF;
}

a {
    color: #FFF;
}

.error{
    display: block;
    margin: 10px auto;
    padding: 10px;
    border-radius: 3px;
    background: rgb(214, 59, 59);
    color: #FFF;
    font-size: 14px;
}

.message{
    display: block;
    margin: 10px auto;
    padding: 10px;
    border-radius: 3px;
    background: rgb(18, 88, 121);
    color: #FFF;
    font-size: 14px;
}

.full {
    width: 100%;
}

button.btn-success{
    background: rgb(0, 109, 27);
    color: #FFF;
}

header {
    font-family: 'Roboto Mono', monospace;
}

header h1 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: normal;
}

header h2 {
    font-size: 20px;
    font-weight: normal;
}

.preview div{
    margin: 10px;
    display: block;
    line-height: 50px;
    padding: 0 15px;
    border-radius: 3px;
}

.preview div.picked {
    background: rgb(16, 65, 99);
    color: #FFF;
}
.preview div.banned {
    background: rgb(187, 0, 26);
    color: #FFF;
}
.preview div.random {
    background: rgb(119, 37, 101);
    color: #FFF;
}
