.form-control {
    width: 98%;
    margin-bottom: 20px;
}

.form-control label:first-child {
    display: block;
}

.mapList button {
    margin: 10px;
    opacity: 0.5;
}

.mapList button.picked {
    opacity: 1;
}

.mapList button img {
    max-height: 100px;
}

.mapList button label {
    display: block;
}

.error {
    color: #F00;
}

.preview div{
    margin: 10px;
    display: block;
    line-height: 50px;
    padding: 0 15px;
    border-radius: 3px;
}

.preview div.picked {
    background: rgb(16, 65, 99);
    color: #FFF;
}
.preview div.banned {
    background: rgb(187, 0, 26);
    color: #FFF;
}
.preview div.random {
    background: rgb(119, 37, 101);
    color: #FFF;
}