.form-control {
    width: 98%;
    margin-bottom: 20px;
}

.form-control label:first-child {
    display: block;
}

.mapList button {
    margin: 10px;
    opacity: 0.5;
}

.mapList button.picked {
    opacity: 1;
}

.mapList button img {
    max-height: 100px;
}

.mapList button label {
    display: block;
}